<%- include("partials/header.ejs") %>

    <form action="/post/create" method="post">
        <label>
            Name:
        </label>
        <input name="username" type="text" class="form-input" placeholder="username" />
        <label>
            Title:
        </label>
        <input name="title" type="text" class="form-input" placeholder="title" />
        <label>
            Blog Post:
        </label>
        <textarea name="content" type="text" class="form-entry-area" placeholder="Post body..."></textarea>
        <label>
            Footnotes:
        </label>
        <textarea name="footnotes" type="text" class="form-entry-area" placeholder="Additional notes"></textarea>
        <button>POST!</button>
    </form>

    <%- include("partials/footer.ejs") %>